<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scalonator Interviewers</title>
</head>
<body>
  <section>
    <a href="/interview">Criar tipo de entrevista</a>
    <a href="/speciality">Criar especialidade</a>
    <a href="/candidate">Criar pessoa candidata</a>
    <a href="/schedule">Gerar agenda :)</a>
  </section>
</body>
</html>