<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scalonator Interviewers</title>
</head>
<body>
  <section>
    <a href="/interview">Criar tipo de entrevista</a>
    <a href="/schedule">Gerar agenda :)</a>
  </section>

  <section>
    <form action="/interview/create" method="POST">
        Tipo: <input type="text" name="type">
        <input type="submit" value="Cadastrar">
    </form>
  </section>

  <section>
    Todas interviews
    <% interviews.map ( i => { %>
      <p><%= i %></p> <a href="/interview/delete/<%= i %>">Deletar</a>
    <% }); %>
  </section>
</body>
</html>